html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}


body{
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}



input{
justify-content: center;
background-color: blue;
color: yellow;
font-size: 1.75rem;
text-align: center;

}



.foot{
  height: 300px;
  background: url(img/headerpic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient{
  /*background-color: #39CCCC;*/
  background:linear-gradient(180deg, #39CCCC, #0074D9);
}
/*write a function to change the background linear-gradient angle with every successive child where applicable*/

.background{
  background: url(img/headerpic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.nav{
  height: 500px;
  background: linear-gradient(180deg, #39CCCC, #0074D9);
  width: 100%;
}

.gradient{

  background: linear-gradient(180deg, #39CCCC, #0074D9);
}

a{
  color: #06041d;
}
.confnavbtn{
  width: 13rem;
  height: 8rem;
  margin: 5px;
  vertical-align: middle;
}


.btn {
    /*padding: 14px 24px;*/
    border: 1 solid black;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 4rem;
    background-color: lightblue;
}

.nowbtn{
    height: 100px;
    width: 150px;
    border-radius: 40%;
    background: violet;
    margin-top: 4px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 2 none;
}

.btn-outline-warning{
  background-color:#122aa9;
}
.btn-primary {
    background: #0099cc;
    color: black;
    height: 4rem;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #0074D9;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.ride-drive {
    padding-top: 50px;
}
