
body{
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}


.inputs{
justify-content: center;
background-color: blue;
color: yellow;
font-size: 60px;

}

.foot{
  height: 300px;
  background: url(img/headerpic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/*write a function to change the background linear-gradient angle with every successive child where applicable*/

.background{
  background: url(img/headerpic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.nav{
  height: 300px;
  background: linear-gradient(180deg, #39CCCC, #0074D9);
}

.gradient{

  background: linear-gradient(180deg, #39CCCC, #0074D9);
}

a{
  color: white;
}
.confnavbtn{
  width: 13rem;
  margin: 20px;
}


.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.ride-drive {
    padding-top: 50px;
}
