.headering {
  background: url('./img/headerpic.jpg');
  background-size: cover;
  /*padding: 10px;*/
  padding: 0;
}

.seatbeltlogo {
  width: auto;
  height: 120px;
}

.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: 0;
}

.wide {
  width: 100%;
}

.row {
  margin-right: 0;
  margin-left: 0;
  width: 100%
}

body {
  background-color: blue;
  font-family: sans-serif Georgia;
  margin-left: 0px;
  margin-right: 0px;
}

.mainpic {
  width: 100%;
}

.minorpic {
  width: auto;
  height: 130px;
  border-radius: 30%;
  margin: 15px 0;
  border: solid black 1px;
  font-size: 18px;
  font-weight: bold;
}

.drivepic {
  background: url('./img/driver.jpg');
  background-size: cover;
}

.riderpic {
  background: url('./img/rider.jpg');
  background-size: cover;
}

.btn {
  border-radius: 20%;
  margin: 5px;
  max-width: 80px;
  height: 30px;
}

.foot {
  height: 100px;
  background-color: teal;
  padding: 0 25px;
}

.infolinks {
  font-size: 26px;
  margin: 3px;
}

a {
  color: white;
  font-size: 12px;
  padding: 2px;
}

.white {
  color: white;
}

.black {
  color: black;
}
