.headering {
  background: url('./img/headerpic.jpg');
  background-size: cover;
  /*padding: 10px;*/
  padding: 5px 25px;
}

.sec1 {
  height: 500px;
  background: url('./img/backseat.png')no-repeat top center;
  background-size: cover;
}

.sec101 {
  background-color: #c0c0c0;
  opacity: 0.8;
  border-radius: 1%;
  transform:scale(0.9);
  height: 300px;
  width: 400px;
  margin-top: 100px;
}




.seatbeltlogo {
  width: auto;
  height: 120px;
}

.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: 0;
}

.wide {
  width: 100%;
}

.row {
  margin-right: 0;
  margin-left: 0;
  width: 100%
}

body {
  font-family: sans-serif Georgia;
  margin-left: 0px;
  margin-right: 0px;
}

.minorpic {
  width: 150px;
  height: 130px;
  margin: 15px 10px;
  border: solid black 1px;
  font-size: 18px;
  font-weight: bold;
}

.drivepic {
  background: url('./img/driver.jpg');
  background-size: cover;
}

.riderpic {
  background: url('./img/rider.jpg');
  background-size: cover;
}

.btn {
  margin: 5px;
  width: 80px;
  height: 40px;
}

.applestore {
  background: url("./img/applestore.png");
  background-size: cover;
  width: 85px;
  height: 30px;
  margin: 5px 10px;
}

.googlestore {
  background: url("./img/googlestore.png");
  background-size: cover;
  width: 100px;
  height: 30px;
  margin: 5px 10px;
}

.foot {
  height: 120px;
  background-color: teal;
  padding: 10px 25px;
}

.infolinks a {
  font-size: 16px;
  margin: 3px;
  color: white;
}

.socials {
  font-size: 36px;
  margin: 5px;
}

.gradient{
  background:linear-gradient(180deg, #0074D9, #39CCCC);
}

.white {
  color: white;
}

.black {
  color: black;
}

.greyed {
  color: grey;
}

.itally {
  font-style: italic;
  font-family: serif;
}

.paddingscoot {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.perks {
  padding: 50px 0px 30px 0px;
  margin: 0px 20px;
}

/*Greg doesn't like this change. Removing it...for now.
.headerbuttons {
  margin-left:  150px;
  margin-right: 150px;
}*/


/*.points {
  display: flex;
  justify-content: space-between;
}*/
