/*.form-group :first-child{
  margin-top: 5px;
  margin-bottom: 5px;
}*/
html{
  display:
}

footer{
  height: 30ems;

}
.gradient{

  background:linear-gradient(180deg, #0074D9, #39CCCC);
}

.gradient2{
  background:linear-gradient(90deg, #0074D9, #39CCCC);
}

.infolabel{
  border: 3px solid black;
  display: flex;

  }
.navbackground{
  background: url(../img/headerpic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.thumbs{
  height: 12em;
  width: 16em;
}

.formsec{
  background: url(../img/driver.jpg);
  background-size:cover;
}
